{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "ie": 9,
                    "uglify": true
                },
                "modules": false,
                "exclude": ["transform-regenerator"]
            }
        ]
    ],
    "plugins": [
        "transform-custom-element-classes",
        "external-helpers",
        "syntax-dynamic-import",
        "transform-object-rest-spread"
    ],
    "ignore": [
        "dist/*.js"
    ]
}
