{
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ],
        "flow-vue"
    ],
    "plugins": [
        "transform-custom-element-classes",
        "external-helpers",
        "syntax-dynamic-import"
    ],
    "ignore": [
        "dist/*.js"
    ]
}
