/**
 * @file global stylesheet
 * @author wangyisheng@baidu.com (wangyisheng)
 */

body {
    font-family: Menlo, Consolas, monospace;
    color: #444;
    margin: 0;
}

#mip-router__header {
    height: 44px;
    padding: 0 17px;
    line-height: 44px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #eee
}

#mip-router__view {
    overflow: hidden;
}
