.mip-appshell-header {
    position: fixed;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 140;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    background: white;

    &-icon {
        height: 32px;
        width: 32px;
    }
}

.mip-appshell-router-view {
    position: absolute;
    top: 44px;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-overflow-scrolling: touch;
    background: white;

    &.transition-fade {
        opacity: 1;
        transition: opacity 1s ease;
        &.fade-enter {
            opacity: 0;
        }
        &.fade-leave-active {
            opacity: 0;
        }
    }

    &.transition-slide {
        transition: transform 0.35s cubic-bezier(0, 0, 0.2, 1);
        &.slide-left-enter {
            transform: translate(100%, 0);
        }
        &.slide-left-enter-active {
            box-shadow: 0 16px 16px 2px rgba(0, 0, 0, 0.3);
        }
        &.slide-right-enter {
            transform: translate(-30%, 0);
            transition-timing-function: linear;
        }
        &.slide-right-leave-active {
            transform: translate(100%, 0);
            box-shadow: 0 16px 16px 2px rgba(0, 0, 0, 0.3);
            z-index: 99;
        }
        &.slide-left-leave-active {
            transform: translate(-30%, 0);
            transition-timing-function: linear;
        }
        &.mip-appshell-router-view-scroll-enabled,
        &.slide-left-enter-active,
        &.slide-left-leave-active,
        &.slide-right-enter-active,
        &.slide-right-leave-active {
            overflow-y: auto;
        }
    }
}
